@import "./responsive.scss";

.contact-us-form-title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .contact-us-form-title {
    font-size: var(--heading-three);
    font-weight: bold;
    line-height: 56px;

    @include ms {
      font-size: var(--heading-four);
      line-height: 48px;
    }

    @include sm {
      font-size: var(--heading-five);
      line-height: 40px;
    }
    }

    .contact-us-form-title br {
      @include md {
        display: none;
      }
      @include ms {
        display: none;
      }

      @include sm {
        display: none;
      }
  }

  .contact-us-form-description {
    font-size: var(--large);
    font-weight: normal;
    line-height: 32px;
    color: var(--body-text);
  }

  .contact-us-form-description br {

    @include md {
      display: none;
    }

    @include ms {
      display: none;
    }

    @include sm {
      display: none;
    }
  }
}