@import "./responsive.scss";

.featured-services-cards-container {
  margin-top: 80px;
}

.featured-services-steps {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;

  @include md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  @include ms {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  @include sm {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
  }

  .fetured-card-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: var(--secondary-black);
    margin-bottom: 16px;
  }

  .featured-card-icon {
    color: var(--secondary-white);
    width: 24px;
    height: 24px;
  }

  .featured-card-title {
    font-size: var(--heading-four);
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 6px;

    @include ms {
      font-size: var(--heading-five);
      line-height: 40px;
    }

    @include sm {
      font-size: var(--large);
      line-height: 32px;
    }
  }

  .featured-card-title br {
    @include md {
      display: none;
    }

    @include ms {
      display: none;
    }

    @include sm {
      display: none;
    }
  }

  .featured-card-description {
    font-size: var(--large);
    font-weight: normal;
    line-height: 32px;
    color: var(--body-text);
  }
}

.featured-card-services {
  margin-top: 80px;

  .featured-card-services-image {
    width: 1300px;
    height: 457px;
    border-radius: 16px;
    object-fit: cover;

    @include md {
      width: 910px;
      height: 320px;
    }
    @include ms {
      width: 664px;
      height: 320px;
    }

    @include sm {
      width: 390px;
      height: 240px;
    }
  }
}