@import "./responsive.scss";

.header-main-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .link-main-container {
    display: flex; 
    align-items: center;
    gap: 24px;

    .main-link:hover {
      color: var(--body-text);
    }
    
    @include md {
      display: flex;
    }
    
    @include sm {
      display: none;
    }
  }

  .quota-button {
    background-color: var(--primary-blue);
    color: var(--white-text);
    border-radius: 80px;
    padding: 10px 19px;
    font-size: var(--small);
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .quota-button:hover {
    background-color: var(--secondary-white);
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
  }

  .mobile-nav {
    @include xl {
      display: none;
    }

    @include lg {
      display: none;
    }
 
    @include md {
      display: none;
    }

    @include sm {
      display: flex;
      align-items: center;
      gap: 19px;
    }

  }
}