@import "./responsive.scss";

.mobile-nav-overlay {
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  z-index: 50; 
  background-color: rgba(0, 0, 0, 0.8);
}

.mobile-nav-link-container {
  background-color: var(--secondary-white);
  width: 250px;
  height: 450px;
  color: var(--secondary-black);
  display: flex;
  flex-direction: column;
}


.close-icon {
  width: 24px;
  height: 24px;
}

.menu-icon {
  width: 24px;
  height: 24px;
  
}