@import "./responsive.scss";

.our-sponsors-container {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 72px;
  margin-right: 72px;

  @include md {
    margin-left: 40px;
    margin-right: 40px;
  }

  @include ms {
    margin-left: 40px;
    margin-right: 40px;
  }

  @include sm {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .our-sponsors-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sm {
      flex-direction: column;
      align-items: start;
    }
    .our-sponsors-title {
      font-size: var(--heading-three);
      font-weight: bold;
      line-height: 56px;
  
      @include ms {
        font-size: var(--heading-four);
        line-height: 48px;
      }
  
      @include sm {
        font-size: var(--heading-five);
        line-height: 40px;
      }
    }

    .our-sponsors-description {
      font-size: var(--large);
      font-weight: normal;
      color: var(--body-text);
      line-height: 32px;
    }
  }

  .our-sponsors-logos-container {
    margin-top: 84px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 46px;
    }

    @include ms {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 43px;
    }

    @include sm {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 46px;
    }

    .our-sponsors-logo-image {
      object-fit: cover;
    }
  }
  }
