@import "./responsive.scss";

.our-services-container {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 72px;
  margin-right: 72px;

  @include md {
    margin-left: 40px;
    margin-right: 40px;
  }

  @include ms {
    margin-left: 40px;
    margin-right: 40px;
  }

  @include sm {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.our-services-lets-move-container {
  margin-top: 160px;
}