@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  /* Primary Colors  */
  --primary-blue: #3854B5;
  --primary-dark-gray: #222430;

  /* Secondary Colors  */
  --secondary-light-gray: #FAFAFA;
  --secondary-gray-blue: #EDEEF3;
  --secondary-black: #000000;
  --secondary-white: #FFFFFF;

  /* Text Colors  */
  --title-text: #333333;
  --body-text: #666666;
  --in-field-text: #B8B8B8;
  --disabled-text: #EBEBEB;
  --white-text: #FFFFFF;

    /* Typography */
    --heading-one: 4rem /*  64px */;
    --heading-two: 3.5rem /*  56px */;
    --heading-three: 2.5rem /*  40px */;
    --heading-four: 2rem /*  32px */;
    --heading-five: 1.5rem /*  24px */;


    --large: 1rem /*  16px */;
    --medium: 0.875rem /*  14px */;
    --small: 0.75rem /*  12px */;

}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}


html,
body 
:root{
  overflow-x: hidden;
}


body {
  font-family: 'Nunito', serif;
}


a {
  text-decoration: none;
  color: inherit;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.children-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-12 {
  gap: 12px;
}

.gap-22 {
  gap: 22px;
}

.gap-24 {
  gap: 24px;
}

.gap-40 {
  gap: 40px;
}

.gap-80 {
  gap: 80px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}